$primary: #194F87;
$secondary: #FEFEFE;
$tertiary: #326396;
$my-lighten:#4080ff;
$serif-font: Palatino,Georgia,Cambria,"Times New Roman",Times,serif;
// Bootstrap: https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
$small-device-width: 576px;

.vh-100-min {
  min-height: 100vh !important;
}

body {
  margin: 0;
  font-family: $serif-font,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
